body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  margin: 2rem 0 3rem 0;
}

h2 {
  font-size: 2.8rem;
  font-weight: 600;
}

h3 {
  font-size: 2.2rem;
  font-weight: 500;
}

input {
  font: inherit;
  background: transparent;
  border: 1px solid #737373;
  padding: 0 0.5rem;
  border-radius: 5px;
  border: 1px dashed;
}

.app-container {
  max-width: 600px;
  margin:  0 auto;
  padding: 2rem;
  min-height: 100vh;
}

.main-title {
  padding: 1rem;
  font-family: inherit;
  background: transparent;
  margin: 1rem 0;
}

.main-title-input {
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 2.8rem;
  font-weight: 600;
  width: 100%;
}

.poll-items {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.poll-item {
  width: 100%;
  max-width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 2rem;
  gap: 1.6rem;
  margin-bottom: 1.2rem;
  border: 1px solid #737373;
  border-radius: 9px;
}

.poll-item__icon {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
}

.poll-item__input {
  width: 100%;
  font-size: 2.2rem;
  padding: 0;
}

.poll-item__header {
  line-height: 1.4;
  white-space: normal;
}

.control-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font: inherit;
  font-size: 1.6rem !important;
  color: #27272a;
  padding: 0.2rem 0.4rem;
  margin-left: auto;
  cursor: pointer;
  background: none;
  border: none;
  transition: all 0.2s;
}

.control-btn:hover {
  color: #09090b;
  fill: #09090b;
  transform: translateX(-0.4rem);
}